body {
    color: tomato;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.header {
    background-color: steelblue;
    color: whitesmoke;
    padding: 3px 0;
}
.header h1 {
    text-shadow: 1px 1px 1px sienna;
}
#cabecera {
    background-color: papayawhip;
    box-shadow: 0px 5px 2px 0px palevioletred;
    font-size: 15px;
    margin: 0 auto;
    padding: 0.5em;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid navy;
    margin: 0 auto;
}
#container h2 {
font-size: 20px;
}
#container p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-shadow: 0px 1px 1px tomato;
}